.coinCard {
  position: relative;
  display: flex;
  height: 200px;
  width: 244px;
  padding: 5px;

  display: flex;
  align-items: center;
  border-radius: 15px;
  /* box-shadow: 0px 0px 3px 1px #3d4e645e; */
  cursor: pointer;
}

.outlineSymbol {
  position: absolute;
  height: 70px;
  width: 70px;
  top: 13px;
  left: 13px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 9001px;
  /* background-color: rgba(245, 245, 245, 0.346); */
  background-color: #000000;
}
.coinCardThumb {
  height: 45px;
  width: 45px;
}

.coinCardInfo {
}
.coinCardSymbol {
  position: absolute;
  font-size: 171px;

  top: 5px;
  left: -2px;
  z-index: -1;
  transform: scale(1, 1.1);
}
.coinCardPrice {
  position: absolute;
  bottom: 19px;
  left: 12px;
  font-size: 31px;
  font-family: "Black Ops One";
  font-weight: 700;
  transform: scale(1, 1.4);
}
.coinCardName {
  position: absolute;
  top: 95px;
  left: 14px;
  font-size: 23px;
  font-family: "Squada One";
  font-weight: 700;
  letter-spacing: 1px;
  color: rgb(26, 25, 25);
}
.coinCardChange {
  position: absolute;
  top: 18px;
  right: 20px;
  padding: 4px 7px;

  border-radius: 8px;
  background-color: #fff9d56e;

  font-size: 20px;
  font-family: "Squada One";
  font-weight: 999;
  transform: scale(1, 1.1);
}

#coinCard1 {
  background: linear-gradient(145deg, rgba(69, 94, 254, 1) 0%, rgba(41, 150, 254, 1) 48%, rgba(9, 202, 254, 1) 100%);
}

#coinCard2 {
  background: linear-gradient(145deg, rgba(81, 34, 127, 1) 0%, rgba(107, 70, 146, 1) 48%, rgba(131, 100, 163, 1) 100%);
}

#coinCard3 {
  background: linear-gradient(145deg, rgba(238, 112, 158, 1) 0%, rgba(236, 124, 133, 1) 48%, rgba(236, 139, 107, 1) 100%);
}

#coinCard4 {
  background: linear-gradient(145deg, rgba(25, 90, 125, 1) 0%, rgba(72, 145, 159, 1) 48%, rgba(119, 198, 192, 1) 100%);
}
