.pop-up {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 300px;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  /* position: relative; */
  overflow: hidden;
  padding-top: 50px;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.419);
  backdrop-filter: blur(10px);
}

.pop-up .header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  width: 100%;
  padding: 10px;
  overflow: hidden;
}

.popUp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
 
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(32, 32, 32, 0.644);
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
}

.show-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(20 19 19 / 64%);
  opacity: 100;
}

.buy-sell {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.buy-sell > div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.pop-up .input-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.input-container p{
    font-size: 12px;
}

.pop-up input {
  height: 30px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 5px;
}
.pop-up button {
  background-color: white;
  padding: 5px 20px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  font-weight: 700;
}
