.pop-up {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 2px solid;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
}
.pop-up h4 {
  background-color: black;
  color: white;
}
