.currholding-container {
  width: 495px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: none;
  border-radius: 10px;
  background-color: #171c26;

  color: whitesmoke;
}

.currholding-cardscontainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.curr-HoldingCard {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 1px #1a212b70;
  background-color: #13181f;
}
