.currholding-container {
  width: 495px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  border: none;
  border-radius: 10px;
  background-color: #171c26;

  color: whitesmoke;
}

.currholding-cardscontainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: auto;
  margin-top: 10px;
}

.curr-HoldingCard {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  margin-right: 5px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 1px #1a212b70;
  background-color: #13181f;
}
