.Tarnsaction-container {
  width: 495px;
  height: 100%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  border: none;
  border-radius: 10px;
  background-color: #171c26;

  color: whitesmoke;
}

.tran-Card {
  box-shadow: 1px 1px 4px 1px gray;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  padding-left: 20px;
}

.bar {
  width: 14px;
  height: 100%;
  background-color: green;
  position: absolute;
  left: 0;
  top: 0;
  letter-spacing: 2px;
}

.bar p {
  transform: rotate(90deg);
  color: white;
  text-align: center;
}
