.Tarnsaction-container {
  width: 495px;
  /* height: 100%; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  border: none;
  border-radius: 10px;
  background-color: #171c26;
  color: whitesmoke;

}

.TranCard-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: auto;
  margin-top: 10px;
}

.tran-Card {
  box-shadow: 4px 6px 13px 1px rgb(16 16 16);
  height: 90px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  border-radius: 10px;
  position: relative;
  /* overflow: hidden; */
  padding-left: 20px;
  background:    linear-gradient(145deg, rgb(135, 129, 141) 0%, rgb(166, 161, 172) 48%, rgb(229, 227, 232) 100%);
  color: black;
}

.bar {
  width: 14px;
  height: 100%;
  background-color: #9ef01a;
  position: absolute;
  left: 0;
  top: 0;
  letter-spacing: 2px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
 
}

.bar p {
  transform: rotate(90deg);
  color: white;
  text-align: center;

}