#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#appHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}
.Exchange-container {
  display: flex;
  gap: 10px;
}
<<<<<<< HEAD
.popUp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(128, 128, 128, 0.644);
  opacity: 0;
  pointer-events: "none";
}
=======
>>>>>>> 41a483d8e47f4612d4b5c60f75667b73cb28c6f4
