@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans&family=Poppins&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&family=Cormorant+SC:wght@300;400;500;600;700&family=Kelly+Slab&family=Squada+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #13181f;
}
body {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
}
